<a class="btn btn-primary" href="/#!/create/dance"><span class="glyphicon glyphicon-plus"></span> Create Dance</a>

<table class="table table-striped" ng-init="getDances()">
  <thead>
    <th>Name</th>
    <th>Genre</th>
    <th>URL</th>
  </thead>
  <tbody>

    <tr ng-repeat="dance in dances">
      <td><a ng-href="#!/dances/{{dance._id}}">{{ dance.name }}</a></td>
      <td>{{ dance.genre }}</td>
      <td>{{ dance.url1 }}</td>
      <td>{{ dance.url2 }}</td>
      <td>{{ dance.url3 }}</td>
      <td>{{ dance.url4 }}</td>
      <td>{{ dance.url5 }}</td>
    </tr>
      </tbody>
    </table>
